    <!-- adminlista-solicitudes.component.html -->
    <div class="container">
        <h1>Lista de Solicitudes</h1>

        <div class="alert alert-info mt-3">
            <strong>¡Atención!</strong> Seleccione "Editar" para modificar la solicitud. Una vez realizado el estudio del formulario de solicitud, podrá aprobarla, rechazarla o dejarla en estado pendiente. <br>
            Si la solicitud es aprobada, se registrará la adopción, que podrá revisar en la sección de adopciones.
            <a [routerLink]="['/adopciones']" class="btn btn-primary">Adopciones</a>
            <a type="button" class="btn btn-danger" [routerLink]="['/inicio']">
                <i class="fas fa-plus-circle"></i> Salir
            </a>
        </div>
        
        
        <input 
        type="text" 
        [(ngModel)]="searchQuery" 
        (input)="search()" 
        placeholder="Buscar solicitudes..."
        class="form-control"
        />
    
        <table class="table table-bordered mt-3">
        
        <thead>
            <tr>
            <th>ID</th>
            <th>Usuario ID</th>
            <th>Mascota ID</th>
            <th>Estado</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of filteredSolicitudes">
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.usuarioId }}</td>
            <td>{{ solicitud.mascotaId }}</td>
            <td>{{ solicitud.estado }}</td>
                <td>
                    <a (click)="borrarSolicitud(solicitud.id)" title="Borrar" class="text-danger me-2">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a [routerLink]="['/solicitudes/editar/', solicitud.id]" title="Editar" class="text-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>