<main class="container my-5">
    <header class="text-center">
        <h6 class="display-4 font-weight-bold">Gestión de Adopciones</h6>
        <p class="lead text-muted">Visualiza y gestiona las adopciones de mascotas.</p>
    </header>
    
    <nav class="mb-4">
        <form class="form-inline justify-content-between mb-3" (submit)="search(); $event.preventDefault()">
            <fieldset class="form-group flex-grow-1">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Buscar adopción..." 
                    aria-label="Buscar" 
                    [(ngModel)]="searchQuery" 
                    name="search" 
                    (input)="search()">
            </fieldset>
            <fieldset class="form-group">
                <a type="button" class="btn btn-primary" [routerLink]="['/adopciones/agregar']">
                    <i class="fas fa-plus-circle"></i> Nueva Adopción
                </a>
            </fieldset>
        </form>
    </nav>

    <section>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>ID Usuario</th>
                        <th>ID Mascota</th>
                        <th>Fecha de Adopción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adopcion of filteredAdopciones">
                        <td>{{ adopcion.id }}</td>
                        <td>{{ adopcion.usuarioId }}</td>
                        <td>{{ adopcion.mascotaId }}</td>
                        <td>{{ adopcion.fechaAdopcion | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <a (click)="borrarAdopcion(adopcion.id)" title="Borrar" class="text-danger me-2">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a [routerLink]="['/adopciones/editar/', adopcion.id]" title="Editar" class="text-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
